<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/datepicker.css">

    <script src="/javascripts/jquery-1.12.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.dataTables.min.js"></script>
    <script src="/javascripts/dataTables.bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.js"></script>

    <title>Result</title>
    <% include header.ejs %>
</head>
<body>
<div class="container-fluid">
    <%= msg %>
</div>
</body>
</html>